body {
    text-align: center;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;

    background-image: url("./img/classroom.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* background-imageをフィルタで画像を暗くする */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    animation: flash 2.3s infinite;
}

.title-img {
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.title-img-h {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 70%;
}
.title-img-v {
    display: none;
    top: 42%;
    left: 50%;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .title-img-h {
        display: none;
    }
    .title-img-v {
        display: block;
    }
}

.cursor_title {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    color: red;
}

.cursor_title::before {
    color: red;
    animation: scroll 2s infinite;
    border: solid red;
    border-width: 0 0 2px 2px;
    content: "";
    display: inline-block;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    transform: rotate(-45deg);
    width: 20px;
    height: 20px;
}
@keyframes scroll {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    50% {
        transform: rotate(-45deg) translate(-15px, 15px);
    }
    100% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

.main-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    background-color: var(--color-background);
}

main {
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 0;
    height: 100%;
    /* border: 1px solid rgba(0, 255, 0, 0.8); */
}

hr {
    border: 1px solid var(--color-accent);
    width: 100%;
}

@media screen and (max-width: 768px) {
    main {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.section {
    /* 仮の枠線 */
    /* border: 1px solid rgba(255, 0, 0, 0.8); */
    width: calc(100% - 2px);
    margin: 50px 0;
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: var(--color-text);
}

.section-title-sub {
    font-size: 0.6rem;
    margin: 0;
    margin-top: -5px;
    color: var(--color-text);
    letter-spacing: 0.5em;
}

.section-content {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}

.outro {
    margin-top: 200px;
}

.footer-logo {
    width: 100%;
}

footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-text);
    text-align: center;
    padding-top: 10px;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1.1;
    }
    50% {
        opacity: 0.9;
    }
    60% {
        opacity: 1.1;
    }
}

@keyframes brightness {
    0%,
    100% {
        filter: brightness(1);
    }
    20% {
        filter: brightness(0.95);
    }
    40% {
        filter: brightness(1.05);
    }
    60% {
        filter: brightness(0.9);
    }
    80% {
        filter: brightness(1.05);
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    1% {
        opacity: 0.9;
    }
    2% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }
    34% {
        opacity: 0.9;
    }
    35% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    41% {
        opacity: 0.9;
    }
    45% {
        opacity: 1;
    }
}

.horror {
    animation: flicker 2.1s infinite, flash 5s infinite, brightness 1s infinite;
}

.disclaimer {
    font-size: 0.5rem;
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 1);
    z-index: 100;
    font-size: 2rem;
    color: red;
    display: none;
    transition: background-color 1s ease-in-out;
    animation: overlay 5s ease-in-out;
}

@keyframes overlay {
    0% {
        background-color: rgba(255, 0, 0, 0);
    }
    100% {
        background-color: rgba(255, 0, 0, 1);
    }
}

.overlay--active {
    display: block;
}

.overlay-transition {
    animation: overlay 2s ease-in-out;
}

.story-item {
    line-height: 2.5em;
}

.gallery-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
